<div class="card text-center border-light mb-3">
  <div class="card-header text-left">
    <h3>{{ heroe.casa }}</h3>
  </div>
  <div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img width="300" height="180" [src]="heroe.img" [alt]="heroe.nombre">
            </div>
            <div class="col-md-8">
                <h5 class="card-title text-left">{{ heroe.nombre | uppercase }}</h5>
                <hr>
                <p class="card-text text-left">{{ heroe.bio }}</p>
            </div> 
        </div>
    </div>
    <div class="float-right"><a [routerLink]="['/heroes']" class="btn btn-outline-primary btn-block">Regresar</a></div>
  </div>
  <div class="card-footer text-muted text-left">
    Fecha de Aparicion: {{ heroe.aparicion | date:'y' }}
  </div>
</div>